{
    "extends": "eslint-config-xo",
    "env": {
      "browser": true
    },
    "rules": {
        "one-var": 0,
        "no-implicit-coercion": 0,
        "max-params": 0,
        "radix": 0,
        "func-names": 0,
        "operator-linebreak": 0,
        "new-cap": 0,
        "indent": ["error", 2],
        "brace-style": 0
    }
}

